.o-productcard {
  position: relative;
  width: 360px;
  height: 400px;
  padding: 23px;
  background-color: $COLOR-WHITE;
  // box-shadow: 0 2px 4.75px 0.25px $BOXSHADOW-BASIC;
  border: 1px solid $COLOR-LIGHTGRAY;
  border-radius: 10px;
  transition: 0.2s box-shadow ease-in-out;

  @include tab {
    padding: 23px 18px 18px;
  }

  &:hover {
    box-shadow: 0 3px 14px 0.2px rgb(0 0 0 / 20%);
  }

  &-preview {
    box-shadow: none;
    border: 1px solid $BORDER-TEXTFIELD-COLOR;
    height: 370px;
    cursor: auto;

    &:hover {
      box-shadow: none;
    }
  }

  &_media {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0 10px;
  }

  .a-checkinput {
    position: absolute;
    right: 23px;
    top: 10px;
  }

  &_info {
    .m-heading {
      margin-bottom: 0;
      margin-right: 5px;

      .a-text {
        margin-right: 0;
      }
    }

    .a-text {
      margin-right: 5px;

      .a-text {
        margin: 0 0 0 3px;
      }
    }
  }

  &_heading {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &_lead {
    display: flex;
    align-items: baseline;
    width: calc(100% - 70px);
    @include sp {
      width: 100%;
    }

    .a-link {
      display: flex;
      // NOTE: This style for heading with collection.
      // max-width: calc(100% - 30px);
      max-width: 100%;
      @include sp {
        max-width: 100%;
      }
    }

    .m-heading {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: baseline;
    }
  }

  &_userlist {
    display: flex;
    margin-right: -10px;
  }

  &_user {
    position: relative;
    @for $i from 1 through 2 {
      &-#{$i} {
        transform: translateX(calc(-5px * #{$i}));
      }
    }
  }

  &_bid {
    display: flex;
    justify-content: space-between;

    .a-toggleiconbutton {
      padding: 3px;
    }

    .a-icon {
      width: 15px;
    }
  }

  &_bidcontrol {
    .m-dropdown_trigger {
      .a-icon {
        width: 16px;
        height: 16px;
      }
    }

    .m-dropdown_items {
      width: 170px;

      .m-dropdownmenu {
        padding: 15px 20px 15px;
      }
    }

    .a-checkinput {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
