.m-heading {
  display: inline-flex;
  align-items: center;
  margin: 0 0 10px;
  color: $COLOR-UTILITY-TXT-BASE;

  @include u-fw-b;
  @include u-fz(22, 25);

  &-white {
    color: $COLOR-WHITE;
  }

  &-underline {
    position: relative;
    padding: 0 4px 5px;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      content: '';
      background-color: $COLOR-UTILITY-TXT-BASE;
      border-radius: 1.5px;
    }

    &.m-heading-white:after {
      background-color: $COLOR-WHITE;
    }
  }

  &-nomargin {
    margin: 0;
  }
}
/* stylelint-disable-next-line selector-no-qualifying-type */
h1.m-heading {
  @include u-fz(24, 25);
}
/* stylelint-disable-next-line selector-no-qualifying-type */
h3.m-heading {
  @include u-fz(20, 25);
}
/* stylelint-disable-next-line selector-no-qualifying-type */
h4.m-heading {
  @include u-fz(18, 25);
}
