.a-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
  color: $COLOR-CYAN;
  background-color: $COLOR-WHITE;
  border-radius: 15px;
  text-decoration: none;
  @include u-fw-b;
  @include u-fz(16, 25, 1);

  @include spFixedContent {
    @include u-fz(14, 25, 0.5);
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }

  &-secondary {
    color: $COLOR-LIGHTBLUE;
    @include u-fz(16, 25);
  }

  &-asText {
    width: 100%;
    height: auto;
    color: $COLOR-UTILITY-TXT-BASE;
    background-color: transparent;
    border: 0;
    letter-spacing: 0;
    @include u-fw-lb;
  }

  &-icon {
    border-radius: 50%;
    padding: 5px;
    height: 100%;

    &:hover {
      background-color: $COLOR-PALEBLUE;
    }
  }

  &-buy {
    background: $COLOR-CYAN;
    color: $COLOR-WHITE;
    min-width: 108px;
    height: 36px;
    border-radius: 20px;
  }

  &-bid {
    background: $COLOR-PALEBLUE;
    color: $COLOR-CYAN;
    min-width: 108px;
    height: 36px;
    border-radius: 20px;
  }

  &-asLink {
    height: 0;
    padding: 0;
    @include u-fz(16, 25);
  }

  &-noPadding {
    padding: 0;
  }

  &-noBackground {
    color: $COLOR-WHITE;
    background-color: transparent;
    border: 1px solid $COLOR-WHITE;
  }

  &-noBorder {
    border: 0;
  }

  &:disabled {
    background-color: $COLOR-LIGHTGRAY;
    color: $COLOR-WHITE;
    cursor: auto;
  }
}
